@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach(var item in @ViewBag.clientes)
    {
        <div>@item.Id</div>
        <div>@item.Nome</div>
        <div>@item.Cpf</div>
    }
    @foreach(var item2 in @ViewBag.fornecedores)
    {
        <div>@item2.Id</div>
        <div>@item2.Nome</div>
        <div>@item2.Cnpj</div>
    }
</div>
